<div class="m-3 row">
  <div class="col-3">
    <div (click)="getPitanja(test)" *ngFor="let test of obavljeniTestovi" class="m-3 card">
      <div class="w-100 p-2 rounded shadow">
        <div class="selector card-header">
          <p class="h2 text-left m-0">
            {{test.vrijemeTest | date:'HH:mm d-M-yyyy'}}
          </p>
          <p class="h3 text-left m-0">
            {{test.kvizPovijest.imeKviz}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-9 border border-primary">
    <div *ngIf="pitanja.has(trenutniTest)" class="m-2">

      <div *ngIf="testPom.has(trenutniTest)">
        <div class="row h3">
          <div class="col-3">
            <p>Broj studenata : </p>
            <p>Maksimalan mogući broj bodova: </p>
            <p>Prosjećan dobiveni broj bodova: </p>
          </div>
          <div class="col-9">
            <p>{{testPom.get(trenutniTest).brStud}}</p>
            <p>{{testPom.get(trenutniTest).maxBod}}</p>
            <p>{{testPom.get(trenutniTest).prosjek}}</p>
          </div>
        </div>
        <br>
        <div class="">
          <div *ngFor="let pitanje of pitanja.get(trenutniTest)" class="rounded shadow bg-white m-2">
            <div class="h2 m-0 p-2 selector">
              <p class="m-0">
                {{pitanje.tekstPitanje}}
              </p>
              <br>
              <p>Točno odgovorilo: {{testPom.get(trenutniTest).pitanjaProsjek[pitanje.idPitanjePovijest]}}%</p>
              <br>
              <div *ngFor="let odgovor of pitanje.odgovoriPovijest">
                <div class="m-1">
                    <div *ngIf="odgovor.tocanOdg" class="w-75 bg-success d-flex justify-content-center align-middle p-2">
                      <h3 class="text-white">{{odgovor.tekstOdg}}</h3>
                    </div>
                    <div *ngIf="!odgovor.tocanOdg" class="w-75 d-flex justify-content-center border border-primary p-2">
                      <h3>{{odgovor.tekstOdg}}</h3>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br>
    </div>
    <div *ngIf="trenutniTest==0" class="align-middle d-flex justify-content-center">
      <p class="text-secondary h2">
        Odabrati test za pregled rezultata!
      </p>
    </div>
  </div>
</div>