<div class="container" *ngIf="cjelina">
    <h2 class="row align-items-center justify-content-center">{{cjelina.nazNastCjel}}</h2>
  
    <br>
  
    <div class="h4">
      <div class="d-flex justify-content-center">
        <div class="row input-group input-group-lg w-50">
            <div class="input-group-prepend">
              <span class="input-group-text">
                Naziv nastavne cjeline:
              </span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="cjelina.nazNastCjel" placeholder="Naziv nastavne cjeline"/>
        </div>
      </div>
  
      <br>
  
      <div class="d-flex justify-content-center">
          <div class="row input-group input-group-lg w-50">
            <div class="input-group-prepend">
              <span class="input-group-text">
                Kratki opis:
              </span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="cjelina.kratkiOpisNastCjel" placeholder="Kratki opis nastavne cjeline"/>
          </div>
      </div>
  
      <br>
  
      <div class="d-flex justify-content-center">
        <div class="row input-group input-group-lg w-50">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">
              Puni opis:
            </span>
          </div>
          <textarea class="form-control" [(ngModel)]="cjelina.opisNastCjel" rows="10" placeholder="Puni opis nastavne cjeline"></textarea>
        </div>
      </div>
  
      <br>
  
      <div class="d-flex justify-content-center">
        <div class="row input-group w-50">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">
              Redni broj:
            </span>
          </div>
          <input class="form-control" [(ngModel)]="cjelina.redniBrojNastCjel" type="number" min="0">
        </div>
      </div>
    </div>

    <br>
    <br>
  
    <div class="d-flex justify-content-center">
      <button class="btn btn-default bt-lg mr-1" (click)="goBack()"><b>Povratak</b></button>
      <button class="btn btn-primary btn-lg mr-1 ml-1" (click)="save()"><b>Spremi</b></button>
      <button class="btn btn-danger btn-lg ml-1" (click)="openModal(template)">Izbriši</button>
    </div>
  
    <br>
      
    <ng-template #template>
      <div class="modal-header">
        <h3 class="modal-title pull-left">Izbriši</h3>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Jeste li sigurni?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-lg" (click)="closeModal()">Odustani</button>
        <button type="button" class="btn btn-danger btn-lg" (click)="delete()">Izbriši</button>
      </div>
    </ng-template>
  
  </div>