<div id="pregledMasterDiv" class="row w-100">

  <br>

  <div id="prvi" class="col-md-4">
    <div class="p-5">
      <h2> Predmeti
      <button class="btn btn-secondary" *ngIf="!dodajPredmet" (click)="toggleDodajPredmet()"><i class="fa fa-plus"></i></button>
      </h2>

      <div class="container" *ngIf="dodajPredmet">
          <form>
              <div class="form-group">
                <label>Naziv predmeta</label>
                <input name="selectNazivPredmet" [(ngModel)]="noviPredmet.nazivPredmet" type="text" class="form-control" placeholder="Naziv predmeta">
              </div>
              <div class="form-group">
                <label>Nastavni program</label>
                <input name="selectNastProg" [(ngModel)]="noviPredmet.nastProg" type="text" class="form-control" placeholder="Nastavni program">
              </div>
              <select name="selectIdRazStud" [(ngModel)]="noviPredmet.idRazStud" class="mdb-select md-form form-control">
                <option [ngValue]="razina.idRazinaStudij" *ngFor="let razina of razine">{{razina.nazRazStud}}</option>
              </select>
              <br>
              <button type="button" [disabled]="noviPredmet.nazivPredmet==='' || noviPredmet.nastProg==='' || noviPredmet.idRazStud===0" (click)="addPredmet()" class="btn btn-primary">Dodaj</button>
          </form>
      </div>
      
      <br>
      <br>
      
      <!--<ul class="list-group">
        <li class="list-group-item btn btn-light btn-lg" *ngFor="let predmet of predmeti" routerLink="/detalj/{{predmet.idPredmet}}">
          <a>
            <span class="badge">{{predmet.nastProg}}</span> {{predmet.nazivPredmet}} 
          </a>
        </li>
      </ul>-->
      
      <input class="form-control" #searchBoxPregledPredmet placeholder="Pretraži" id="search-box-Pregled-Predmet" (input)="filterPredmet(searchBoxPregledPredmet.value)" />
      <br>
      <ul class="list-group">
        <li class="list-group-item d-block" *ngFor="let predmet of prikazPredmeti | paginate: { id:'predmetPagination', itemsPerPage:7, currentPage: p }">
          <a>
            <h4>
              <div class="row">
                <div class="col-1">
                  <button *ngIf="predmet.idPredmet==trenutniPredmet.idPredmet" class="btn btn-warning" routerLink="/detalj/{{predmet.idPredmet}}"><h4 class="m-1"><i class="fa fa-cog fa-1x"></i></h4></button>
                  <button *ngIf="predmet.idPredmet!=trenutniPredmet.idPredmet" class="btn btn-outline-info" routerLink="/detalj/{{predmet.idPredmet}}"><h4 class="m-1"><i class="fa fa-cog fa-1x"></i></h4></button>
                </div>
                <div class="col-11" (click)="onSelectPredmet(predmet)">
                  <span class="badge">{{predmet.nastProg}}</span><span class="badge ml-1">{{predmet.razinaStudij.nazRazStud}}</span> {{predmet.nazivPredmet}}
                </div>
              </div>
            </h4>
          </a>
        </li>
      </ul>
      <h3 class="d-flex justify-content-center mt-2">
        <pagination-controls class="myPagination" id="predmetPagination" directionLinks="true" autoHide="true" previousLabel="" nextLabel="" (pageChange)="p =$event"></pagination-controls>
      </h3>
  
      <!--<app-predmet-search></app-predmet-search>-->
    </div>
  </div>
  
  <div id="drugi" class="col-md-4">
    <div class="p-5">
      <h2> Nastavne cjeline
      <button class="btn btn-secondary" *ngIf="!dodajCjelinu" (click)="toggleDodajCjelinu()"><i class="fa fa-plus"></i></button>
      </h2>

      <div class="container" *ngIf="dodajCjelinu">
          <form>
              <div class="form-group">
                <label>Naziv cjeline</label>
                <input name="selectNazivCjelina" [(ngModel)]="novaCjelina.nazNastCjel" type="text" class="form-control" placeholder="Naziv cjeline">
              </div>
              <div class="form-group">
                <label>Kratki opis</label>
                <input name="selectKratkiOpis" [(ngModel)]="novaCjelina.kratkiOpisNastCjel" type="text" class="form-control" placeholder="Kratki opis">
              </div>
              <div class="form-group">
                  <label>Puni opis</label>
                  <textarea name="selectPuniOpis" class="form-control" [(ngModel)]="novaCjelina.opisNastCjel" rows="3" placeholder="Puni opis nastavne cjeline"></textarea>
              </div>
              <div class="form-group">
                <label>Redni broj</label>
                <input name="selectRedniBroj" class="form-control" type="number" min="0" [(ngModel)]="novaCjelina.redniBrojNastCjel">
              </div>
              <br>
              <button type="button" [disabled]="novaCjelina.nazNastCjel==='' || novaCjelina.kratkiOpisNastCjel==='' || novaCjelina.opisNastCjel==='' || trenutniPredmet.idPredmet==0" (click)="addCjelina()" class="btn btn-primary">Dodaj</button>
          </form>
      </div>
      
      <br>
      <br>

      <input class="form-control" #searchBoxPregledCjelina placeholder="Pretraži" id="search-box-Pregled-Cjelina" (input)="searchCjeline(searchBoxPregledCjelina.value)" />
      <br>
      <div class="searchNastCjel" *ngIf="searchBoxPregledCjelina.value">
        <div #ucitavanjeCjeline class="spinner-border text-primary" role="status" *ngIf="!(prikazCjeline$ | async)">
          <span class="sr-only">Učitavanje...</span>
        </div>
        <ul class="list-group">
          <li class="list-group-item d-block" *ngFor="let cjelina of prikazCjeline$ | async">
            <a>
              <h4>
                <div class="row">
                  <div class="col-1">
                    <button *ngIf="cjelina.idNastavnaCjelina!=trenutnaCjelina.idNastavnaCjelina" class="btn btn-outline-info" routerLink="/detaljCjelina/{{cjelina.idNastavnaCjelina}}"><h4 class="m-1"><i class="fa fa-cog fa-1x"></i></h4></button>
                    <button *ngIf="cjelina.idNastavnaCjelina==trenutnaCjelina.idNastavnaCjelina" class="btn btn-warning" routerLink="/detaljCjelina/{{cjelina.idNastavnaCjelina}}"><h4 class="m-1"><i class="fa fa-cog fa-1x"></i></h4></button>
                  </div>
                  <div class="col-11" (click)="onSelectCjelina(cjelina)">
                    <span class="badge">{{cjelina.redniBrojNastCjel}}</span> {{cjelina.nazNastCjel}}
                    
                    <div *ngIf="trenutnaCjelina.idNastavnaCjelina==cjelina.idNastavnaCjelina">
                      <br>
                      {{cjelina.kratkiOpisNastCjel}}
                    </div>
                  </div>
                </div>
              </h4>
            </a>
          </li>
        </ul>
      </div>

      <ul class="list-group">
        <li class="list-group-item d-block" *ngFor="let cjelina of prikazCjeline | paginate: { id:'cjelinaPagination', itemsPerPage:7, currentPage: p }" >
          <a>
            <h4>
              <div class="row">
                <div class="col-1">
                    <button *ngIf="cjelina.idNastavnaCjelina!=trenutnaCjelina.idNastavnaCjelina" class="btn btn-outline-info" routerLink="/detaljCjelina/{{cjelina.idNastavnaCjelina}}"><h4 class="m-1"><i class="fa fa-cog fa-1x"></i></h4></button>
                    <button *ngIf="cjelina.idNastavnaCjelina==trenutnaCjelina.idNastavnaCjelina" class="btn btn-warning" routerLink="/detaljCjelina/{{cjelina.idNastavnaCjelina}}"><h4 class="m-1"><i class="fa fa-cog fa-1x"></i></h4></button>
                </div>
                <div class="col-11" (click)="onSelectCjelina(cjelina)">
                  <span class="badge">{{cjelina.redniBrojNastCjel}}</span> {{cjelina.nazNastCjel}}
                  
                  <div *ngIf="trenutnaCjelina.idNastavnaCjelina==cjelina.idNastavnaCjelina">
                    <br>
                    {{cjelina.kratkiOpisNastCjel}}
                  </div>
                </div>
              </div>
            </h4>
          </a>
        </li>
      </ul>
      <h3 class="d-flex justify-content-center mt-2">
        <pagination-controls class="myPagination" id="cjelinaPagination" directionLinks="true" autoHide="true" previousLabel="" nextLabel="" (pageChange)="p =$event"></pagination-controls>
      </h3>
    </div>
  </div>

  <div id="treci" class="col-md-4">
    <div class="p-5">
      <h2> Kvizovi
        <button class="btn btn-secondary" *ngIf="!dodajKviz" (click)="toggleDodajKviz()"><i class="fa fa-plus"></i></button>
      </h2>

      <div class="container" *ngIf="dodajKviz">
        <form>
            <div class="form-group">
              <label>Naziv kviz</label>
              <input name="selectNazivKviz" [(ngModel)]="noviKviz.imeKviz" type="text" class="form-control" placeholder="Naziv kviza">
            </div>
            <div class="form-group">
              <label>Kratki opis</label>
              <input name="selectKratkiOpisKviz" [(ngModel)]="noviKviz.kratkiOpisKviz" type="text" class="form-control" placeholder="Kratki opis">
            </div>
            <div class="form-group">
                <label>Puni opis</label>
                <textarea name="selectPuniOpisKviz" class="form-control" [(ngModel)]="noviKviz.opisKviz" rows="3" placeholder="Puni opis kviza"></textarea>
            </div>
            <div class="form-group">
              <label>Redni broj</label>
              <input name="selectRedniBrojKviz" class="form-control" type="number" min="0" [(ngModel)]="noviKviz.redniBrojKviz">
            </div>
            <br>
            <button type="button" [disabled]="noviKviz.imeKviz==='' || noviKviz.kratkiOpisKviz==='' || noviKviz.opisKviz==='' || trenutnaCjelina.idNastavnaCjelina==0" (click)="addKviz()" class="btn btn-primary">Dodaj</button>
        </form>
      </div>

      <br>
      <br>

      <input class="form-control " #searchBoxPregledKviz placeholder="Pretraži" id="search-box-Pregled-Kviz" (input)="searchKviz(searchBoxPregledKviz.value)" />
      <br>
      <div class="searchKviz" *ngIf="searchBoxPregledKviz.value">
        <div #ucitavanjeCjeline class="spinner-border text-primary" role="status" *ngIf="!(prikazKvizovi$ | async)">
          <span class="sr-only">Učitavanje...</span>
        </div>
        <ul class="list-group">
          <li class="list-group-item d-block" *ngFor="let kviz of prikazKvizovi$ | async">
            <a>
              <h4>
                <div class="row">
                  <div class="col-1">
                    <button *ngIf="kviz.idKviz!=trenutniKviz.idKviz" class="btn btn-outline-info" routerLink="/detaljKviz/{{kviz.idKviz}}"><h4 class="m-1"><i class="fa fa-cog fa-1x"></i></h4></button>
                    <button *ngIf="kviz.idKviz==trenutniKviz.idKviz" class="btn btn-warning" routerLink="/detaljKviz/{{kviz.idKviz}}"><h4 class="m-1"><i class="fa fa-cog fa-1x"></i></h4></button>
                  </div>
                  <div class="col-11" (click)="onSelectKviz(kviz)">
                    <span class="badge">{{kviz.redniBrojKviz}}</span> {{kviz.imeKviz}}
                  </div>
                </div>
              </h4>
            </a>
          </li>
        </ul>
      </div>

      <ul class="list-group">
        <li class="list-group-item d-block" *ngFor="let kviz of prikazKvizovi | paginate: { id:'kvizPagination', itemsPerPage:7, currentPage: p }" >
          <a>
            <h4>
              <div class="row">
                <div class="col-1">
                    <button *ngIf="kviz.idKviz!=trenutniKviz.idKviz" class="btn btn-outline-info" routerLink="/detaljKviz/{{kviz.idKviz}}"><h4 class="m-1"><i class="fa fa-cog fa-1x"></i></h4></button>
                    <button *ngIf="kviz.idKviz==trenutniKviz.idKviz" class="btn btn-warning" routerLink="/detaljKviz/{{kviz.idKviz}}"><h4 class="m-1"><i class="fa fa-cog fa-1x"></i></h4></button>
                </div>
                <div class="col-11" (click)="onSelectKviz(kviz)">
                  <span class="badge">{{kviz.redniBrojKviz}}</span> {{kviz.imeKviz}}
                </div>
              </div>
            </h4>
          </a>
        </li>
      </ul>
      <h3 class="d-flex justify-content-center mt-2">
        <pagination-controls class="myPagination" id="kvizPagination" directionLinks="true" autoHide="true" previousLabel="" nextLabel="" (pageChange)="p =$event"></pagination-controls>
      </h3>
    </div>
  </div>

</div>  

<br>

<div *ngIf="trenutniKviz.idKviz!=0">
  <app-dashboard [kviz]="trenutniKviz"></app-dashboard>
</div>