<div class="m-3 w-100">
  
    <div class="d-flex justify-content-center">
        <div class="rounded bg-warning m-3 p-2"><h2>{{kviz.imeKviz}}</h2></div>
        <div class="rounded bg-warning m-3 p-2"><h3>Br.{{kviz.redniBrojKviz}}</h3></div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="rounded bg-warning m-3 p-2 mw-50"><h2>{{kviz.kratkiOpisKviz}}</h2></div>
    </div>
    <!--<div class="d-flex justify-content-center">
        <div class="bg-warning m-3 p-2 mw-50"><h2>{{kviz.opisKviz}}</h2></div>
    </div>-->

  <br>
  <div class="w-100">
      <h2 class="d-flex justify-content-center">
        <button *ngIf="!dodajPitanje" class="btn btn-primary" (click)=toggleDodajPitanje()><h3>Dodaj novo pitanje</h3></button>
      </h2>
      <br>
        <div *ngIf="dodajPitanje" class="row w-100">
          <div class="col-md-6">
            <div class="float-right w-50">
              <form>
                <div class="form-group">
                  <label>Tekst</label>
                  <textarea name="selectTekstPitanje" class="form-control" [(ngModel)]="novoPitanje.tekstPitanje" rows="3" placeholder="Upiši tekst pitanja"></textarea>
                </div>
                <div class="form-group">
                  <label>Tema</label>
                  <input name="selectTemaPitanje" [(ngModel)]="novoPitanje.temaPitanje" type="text" class="form-control" placeholder="Upisi temu pitanja">
                </div>    
                <br>
                <button type="button" [disabled]="novoPitanje.tekstPitanje==='' || novoPitanje.temaPitanje==='' || novoPitanje.bodToc==0" (click)="addPitanje()" class="btn btn-primary">Dodaj</button>
              </form>
            </div>
          </div>
          <div class="col-md-3 w-25">
            <div>
              <form>
                <div class="form-group">
                  <label>Broj bodova za točan odgovor</label>
                  <input name="selectBodToc" class="form-control" [(ngModel)]="novoPitanje.bodToc" type="number">
                </div>
              </form>
              <form>
                <div class="form-group">
                  <label>Broj bodova za netočan odgovor</label>
                  <input name="selectBodNeToc" class="form-control" [(ngModel)]="novoPitanje.bodNeToc" type="number">
                </div>
              </form>
              <form>
                <div class="form-group">
                  <label>Broj bodova za neodgovoren odgovor</label>
                  <input name="selectBodNeOdg" class="form-control" [(ngModel)]="novoPitanje.bodNeOdg" type="number">
                </div>
              </form>
            </div>
          </div>
        </div>
  </div>
  <br>
  <br>
  <br>
  <div class="w-100 row">
    <div class="col-2">
      <div class="h4">
        <ul class="list-group">
          <li class="list-group-item d-block" *ngFor="let pitanje of pitanja | paginate: { itemsPerPage:8, currentPage: p }">
          <div class="row">
            <div class="col-12" (click)="changePitanje(pitanje)">
              <div class="p-2">
                {{pitanje.tekstPitanje}}
              </div>
            </div>
          </div>
          </li>
        </ul>
      </div>

      <h3 class="w-25 ml-5">
        <pagination-controls class="myPagination" directionLinks="true" autoHide="true" previousLabel="" nextLabel="" (pageChange)="p =$event"></pagination-controls>
      </h3>
    </div>
    <div class="border border-primary align-middle d-flex justify-content-center col-10" *ngIf="pitanje.idPitanje==0">
      <span class="align-middle h3">
        Odaberite pitanje!
      </span>
    </div>
    <div class="col-10" *ngIf="pitanje.idPitanje!=0">
        <div class="d-flex justify-content-center text-primary w-100">
          <h2 class="w-50 d-flex justify-content-center">
            <textarea (input)="toggleSpremiPitanje(pitanje.idPitanje)" [(ngModel)]="pitanje.tekstPitanje" cols="50" rows="5"></textarea>
          </h2>
        </div>
        <div class="w-100 d-flex justify-content-center h3">
          <button class="btn btn-primary" (click)="savePitanje(pitanje)" *ngIf="spremiPitanje==pitanje.idPitanje">Spremi</button>
          <p class="text-success h5" *ngIf="spremiPitanje==0 && spremljenoPitanje==pitanje.idPitanje">Promijene su spremljene!</p>
        </div>
  
        <br>
  
        <div class="w-100 d-inline-flex justify-content-center">
  
          <div class="m-2">
            <form>
              <div class="form-group">
                <label>Točan</label>
                <input name="selectBodToc" (input)="toggleSpremiPitanje(pitanje.idPitanje)" class="form-control" [(ngModel)]="pitanje.bodToc" type="number">
              </div>
            </form>
          </div>
  
          <div class="m-2">
            <form>
              <div class="form-group">
                <label>Neodgovoren</label>
                <input name="selectBodNeOdg" (input)="toggleSpremiPitanje(pitanje.idPitanje)" class="form-control" [(ngModel)]="pitanje.bodNeOdg" type="number">
              </div>
            </form>
          </div>
  
          <div class="m-2">
            <form>
              <div class="form-group">
                <label>Netočan</label>
                <input name="selectBodNeToc" (input)="toggleSpremiPitanje(pitanje.idPitanje)" class="form-control" [(ngModel)]="pitanje.bodNeToc" type="number">
              </div>
            </form>
          </div>
  
          <div class="d-flex mr-2 ml-2 mt-4 mb-4">
            <button (click)="deletePitanje(pitanje)" class="btn btn-danger btn-lg"><i class="fa fa-trash"></i></button>
          </div>
          <div class="d-flex mr-2 ml-2 mt-4 mb-4">
            <button [disabled]="dodajOdgovor==pitanje.idPitanje" (click)="toggleAddOdgovor(pitanje.idPitanje)" class="btn btn-primary btn-lg"><i class="fa fa-plus"></i></button>
          </div>
          
        </div>
  
        <div *ngIf="dodajOdgovor==pitanje.idPitanje" class="d-flex justify-content-center">
          <div class="d-flex input-group w-50">
            <div class="d-flex input-group-prepend">
              <div class="d-flex input-group-text">
                 <input #odgovorTrue type="checkbox" (click)="toggleOdgovorTrue(odgovorTrue.checked)">
              </div>
            </div>
            <input *ngIf="noviOdgovor.tocanOdg" name="selectOdgovorTekst" [(ngModel)]="noviOdgovor.tekstOdg" type="text" class="form-control bg-success text-white">
            <input *ngIf="!noviOdgovor.tocanOdg" name="selectOdgovorTekst" [(ngModel)]="noviOdgovor.tekstOdg" type="text" class="form-control" placeholder="Upiši odgovor!">
            <div *ngIf="noviOdgovor.tekstOdg!=''" class="d-flex input-group-append">
              <button class="btn btn-primary" (click)="addOdgovor()"><i class="fa fa-check"></i></button>
            </div>
          </div>
        </div>
  
        <br>
  
        <div class="w-100 d-flex justify-content-center m-2" *ngFor="let odgovor of pitanje.ponudeniOdgovori">
          <div *ngIf="odgovor.tocanOdg" class="w-50 bg-success d-flex justify-content-center align-middle p-2">
            <h3 class="text-white">{{odgovor.tekstOdg}}</h3>
          </div>
          <div *ngIf="!odgovor.tocanOdg" class="w-50 d-flex justify-content-center border border-primary p-2">
            <h3>{{odgovor.tekstOdg}}</h3>
          </div>
          <button (click)="deleteOdgovor(odgovor)" class="btn btn-danger btn-lg"><i class="fa fa-trash"></i></button>
        </div>
  
        <br>
        <br>
      </div>
  </div>
</div>